name: build

on: [push, pull_request]

jobs:
  build:
    name: build (${{ matrix.ruby }} / ${{ matrix.os }})
    strategy:
      matrix:
        ruby: [ '3.1' ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    # Avoid issues on these platforms
    - if: ${{ matrix.ruby == '2.5' || matrix.ruby == '2.6' }}
      run: gem update --system
    - name: Run test
      run: bundle exec rake compile test
    - id: build
      run: |
        set -x
        git fetch --force --no-tags origin 'refs/tags/v*:refs/tags/v*'
        git tag --list
        git tag --merged
        git tag --list v[0-9]*
        git tag --merged HEAD
        git tag --list v[0-9]* --merged HEAD
        bundle exec rake build
        echo "::set-output name=pkg::${GITHUB_REPOSITORY#*/}-${RUNNING_OS%-*}"
      env:
        RUNNING_OS: ${{matrix.os}}
      if: ${{ matrix.ruby == '3.1' }}
      # Ubuntu 20.04 still has libyaml 0.2.2
    - name: Upload package
      uses: actions/upload-artifact@v2
      with:
        path: pkg/*.gem
        name: ${{steps.build.outputs.pkg}}
      if: steps.build.outputs.pkg
